[Unit]
Description=X1
After=syslog.target network.target

[Service]
User=%i
Group=%i
Type=simple
WorkingDirectory=~
LimitNOFILE=infinity
EnvironmentFile=-/etc/default/x1
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=600
Restart=on-failure
RestartSec=10s
SyslogIdentifier=x1
ExecStart=/usr/local/bin/x1 $X1_OPTS

[Install]
WantedBy=multi-user.target
